html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0px 200px;
    background-color: 	#ffb1df;
    font-family: Arial, sans-serif;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.main .introduction {
    margin-right: 100px;
    font-size: 24px;
    line-height: 40px;
    color: #550041;
}

.main .introduction h1 {
    color: #8a006a;
}

.main .profile-div img {
    width: 420px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.scrolldown {
    background-color: white;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 60px;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 30px;
    transition: 0.15s;
}

.scrollup {
    background-color: white;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 60px;
    right: 0px;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 30px;
    transition: 0.15s;
}

.scrolltotop {
    background-color: white;
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.15s;
}

.scrolldown:hover {
    background-color: #8d006b;
    color: white;
}

.scrollup:hover {
    background-color: #8d006b;
    color: white;
}

.moreinfo {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #8a006a;
    height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
}

.title h1 {
    background-color: white;
    border: 5px solid #8d006b;
    padding: 20px;
    border-radius: 50px;
}

.moreinfosub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.moreinfo .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards .thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.cards .thumbnail img {
    width: 100px;
}

.hobbiesnacts {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #8a006a;
    height: 100vh;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 50px;
    height: 100vh;
}

.education .elem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.education .elem .school1 {
    margin-right: 50px;
    background-color: yellow;
    border: 5px solid gray;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
}

.education .elem .school2 {
    margin-left: 30px;
    background-color: yellow;
    border: 5px solid rgb(59, 59, 59);
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
}

.education .elem .school3 {
    margin-right: 50px;
    background-color: green;
    border: 5px solid yellow;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
}

.education .elem .schooldes {
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 30px;
    border: 5px solid #8a006a;
    color: #550041;
    margin-right: 20px;

}

@media (max-width: 1550px) {
    .main .introduction {
        margin-right: 100px;
        font-size: 18px;
        line-height: 40px;
        color: #550041;
    }

    .scrolldown {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        padding: 15px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 30px;
        transition: 0.15s;
    }
    
    .scrollup {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        right: 0px;
        padding: 15px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 30px;
        transition: 0.15s;
    }
}

@media (max-width: 1450px) {
    .main .introduction {
        margin-right: 100px;
        font-size: 18px;
        line-height: 30px;
        color: #550041;
    }

    .scrolldown {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        padding: 12px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 30px;
        transition: 0.15s;
    }
    
    .scrollup {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        right: 0px;
        padding: 12px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 30px;
        transition: 0.15s;
    }

    .education .elem .school1 {
        margin-right: 50px;
        background-color: yellow;
        border: 5px solid gray;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
    }
    
    .education .elem .school2 {
        margin-left: 30px;
        background-color: yellow;
        border: 5px solid rgb(59, 59, 59);
        font-weight: bold;
        border-radius: 20px;
        margin-top: 20px;
        padding: 15px;
    }
    
    .education .elem .school3 {
        margin-right: 50px;
        background-color: green;
        border: 5px solid yellow;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
    }

    .education .elem .schooldes {
        padding: 20px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 30px;
        border: 5px solid #8a006a;
        color: #550041;
        margin-right: 20px;
    
    }
}

@media (max-width: 1350px) {
    .main .introduction {
        margin-right: 100px;
        font-size: 16px;
        line-height: 30px;
        color: #550041;
    }

    .main .profile-div img {
        width: 320px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }

    .cards .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
    
    .cards .thumbnail img {
        width: 90px;
    }
    
}

@media (min-width: 1201px) {
    .education .elem .school1 {
        margin-right: 50px;
        background-color: yellow;
        border: 5px solid gray;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
        font-size: 20px;
    }
    
    .education .elem .school2 {
        margin-left: 30px;
        background-color: yellow;
        border: 5px solid rgb(59, 59, 59);
        font-weight: bold;
        border-radius: 20px;
        margin-top: 20px;
        padding: 10px;
        font-size: 14px;

    }
    
    .education .elem .school3 {
        margin-right: 50px;
        background-color: green;
        border: 5px solid yellow;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
        font-size: 14px;

    }

    .education .elem .schooldes {
        padding: 20px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 30px;
        border: 5px solid #8a006a;
        color: #550041;
        margin-right: 20px;
    
    }
}

@media (max-width: 1200px) {
    .main .introduction {
        margin-right: 100px;
        font-size: 16px;
        line-height: 30px;
        color: #550041;
    }

    .main .profile-div img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    .cards .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    
    .cards .thumbnail img {
        width: 80px;
    }
    
}

@media (max-width: 1184px) {
    body {
        padding: 0px 70px;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 16px;
    }
    
    .title h1 {
        background-color: white;
        border: 5px solid #8d006b;
        padding: 20px;
        border-radius: 50px;
    }

    .education .elem .school1 {
        margin-right: 50px;
        background-color: yellow;
        border: 5px solid gray;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
        font-size: 10px;
    }
    
    .education .elem .school2 {
        margin-left: 30px;
        background-color: yellow;
        border: 5px solid rgb(59, 59, 59);
        font-weight: bold;
        border-radius: 20px;
        margin-top: 20px;
        padding: 10px;
        font-size: 10px;

    }
    
    .education .elem .school3 {
        margin-right: 50px;
        background-color: green;
        border: 5px solid yellow;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 15px;
        font-size: 10px;

    }

    .education .elem .schooldes {
        padding: 10px;
        border-radius: 20px;
        font-size: 12px;
        line-height: 25px;
        border: 5px solid #8a006a;
        color: #550041;
        margin-right: 20px;
        margin-top: 10px;
    
    }
}

@media (max-width: 1000px) {
    body {
        padding: 0px 70px;
    }
    .cards .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    
    .cards .thumbnail img {
        width: 60px;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 12px;
    }

    .main .introduction {
        margin-right: 100px;
        font-size: 12px;
        line-height: 30px;
        color: #550041;
    }

    .main .profile-div img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media (max-width: 900px) {

    .main .introduction {
        margin-right: 100px;
        font-size: 18px;
        line-height: 30px;
        color: #550041;
    }

    body {
        padding: 0px 70px;
    }
    .moreinfosub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
    }

    .scrolldown {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        left: 0;
        padding: 12px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 30px;
        transition: 0.15s;
    }
    
    .scrollup {
        background-color: white;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60px;
        right: 0px;
        padding: 12px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 30px;
        transition: 0.15s;
    }
    
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 12px;
        
    }

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: ;
        height: 100vh;
    }

    
    .main .profile-div img {
        width: 260px;
        height: 240px;
        border-radius: 50%;
        object-fit: cover;
    }

}