* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    max-width: 800px;
}

@media (min-width: 300px) {
    .whole {
        height: 100vh;
        background-image: url(/Project/images/pg\ bg.jpeg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(220, 241, 250, 0.336);
        backdrop-filter: blur(5px);
        padding: 10px 20px;
        border-radius: 40px;
        width: 90%;
    }

    .header .logo {
        display: flex;
        align-items: center;
        color: white;
    }

    .header .logo img {
        width: 90px;
        margin-right: 10px;
    }

    .header .header-links {
        font-size: 8px;
    }

    .content {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title h4 {
        margin-top: 20px;
        font-weight: 400;
    }

    .btns {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .btns .register {
        padding: 10px 20px;
        border: 1px solid white;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.15s;
        border: none;
    }

    
    .btns .register {
        background-color: #ffe84f;
        font-weight: bold;
        color: #3b4cca;
    }

    .btns .register:hover {
        background-color: #3b4cca;
        color: #ffe84f;
    }
}

.content {
    margin-top: 200px;

}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.header-links {
    display: flex;
}

.header-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

@media (min-width: 400px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
    }

    .header-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(220, 241, 250, 0.336);
        backdrop-filter: blur(5px);
        position: absolute;
        top: 80px;
        left: 0;
        padding: 10px 0;
        border-radius: 35px;
    }

    .header-links.show {
        display: flex;
    }

    .header-links a {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 15px;
        font-weight: bold;
        
    }

    .header-links a:last-child {
        border-bottom: none;
    }
}

@media (min-width: 601px) {
    .header-links a {
        text-align: center;
        padding: 15px;
        font-size: 8px;
        font-weight: bold;
        margin-right: 5px;
        border-radius: 20px;
        transition: 0.15s;
    }

    .header-links a:hover {
        background-color: #3b4cca;
        color: #ffe84f;
    }
}


@media (min-width: 700px) {
    .header-links a {
        text-align: center;
        padding: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    .title h1 {
        font-size: 50px;
    }

    .title h4 {
        margin-top: 20px;
        font-weight: 400;
        font-size: larger;
    }
}


@media (min-width: 1000px) {
    .header-links a {
        text-align: center;
        padding: 15px;
        font-size: 17px;
        font-weight: bold;
    }

    .title h1 {
        font-size: 60px;
    }

    .title h4 {
        margin-top: 30px;
        font-weight: 400;
        font-size: larger;
    }
}