@ -0,0 +1,61 @@
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://lh3.googleusercontent.com/glCigN4j8v2IEWrXY6KL1Hz54ljMqvKkOft0Z0wedMlGAatnYexbNv1ZBMVoehlGUkK_4x84nrgq2q8p81WfOv57Ynzw_nSxcuKs4MI_TJaT5g=s2400-rj');
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #error-msg {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
